[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/slinstudy
[access "refs/for/refs/*"]
	read = group user/slinstudy
	push = group user/slinstudy
	label-Code-Review = -2..+2 group user/slinstudy
	label-Verified = -1..+1 group user/slinstudy
	rebase = group user/slinstudy
	removeReviewer = group user/slinstudy
	submit = group user/slinstudy
[access "refs/heads/*"]
	read = group user/slinstudy
	create = group user/slinstudy
	push = +force group user/slinstudy
	pushMerge = group user/slinstudy
[access "refs/tags/*"]
	push = +force group user/slinstudy
	pushTag = group user/slinstudy
	pushSignedTag = group user/slinstudy
